{% extends "ta_system/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra-head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ta_system/lab-hour-form.css' %}" />
    <script src="{% static 'ta_system/home-lab-hour-form.js' %}" type="module" ></script>
{% endblock %}
{% block content %}
    <div class="content-section">
    {% if not system_is_open.status %}
        <h2> The TA Application System is Closed.</h2>
        <p>
            Please come back when the system is open to apply. To edit your account info in the meantime, go to your <a href= "{% url 'ta_system:profile' %}">profile</a> page.
        </p>
    {% elif system_is_open.status and not user_has_submitted_application %}
        <h2 id="application-form-title">Application Form ({{ current_semester }})</h2>
        <div class="application-section-heading">
            <h5>Instructions:</h5>
            <p>If you would prefer to be a TA for a specific course or professor, please note your preferences below. Then fill out the remainder of the form and click the submit button.</p>
        </div>
        <form method="POST" action="{% url 'ta_system:home' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ app_form | crispy }}
          <div>Lab Hour Preferences*</div>
          <small class='text-muted'>Please select the hours during which you will be available to attend the CS lab.</small>
          <div class="mt-12" id="lab-hour-form"></div>
        </form>
    {% elif system_is_open.status and user_has_submitted_application %}
        <h2>Thank you for applying.</h2>
        <p>
            To edit your account info or update your CS Lab availability, go to your <a href= "{% url 'ta_system:profile' %}">profile</a> page.
        </p>
    {% endif %}
    </div>
{% endblock content %}
