{% extends "ta_system/base.html" %}
{% load crispy_forms_tags static %}
{% block extra-head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ta_system/lab-hour-form.css' %}" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"></script>
    <script src="{% static 'ta_system/profile-lab-hour-form.js' %}" type="module" ></script>
{% endblock %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
      </div>
      <form method="POST" action="{% url 'ta_system:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <!-- <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div> -->
        <div id="lab-hour-form"></div>
      </form>
    </div>
{% endblock content %}
