{% extends "ta_system/base.html" %}
{% load crispy_forms_tags static %}
{% block extra-head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ta_system/lab-hour-form.css' %}" />
    <script src="{% static 'ta_system/profile-lab-hour-form.js' %}" type="module" ></script>
{% endblock %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">User Profile</h2>
        </div>
      </div>
      <form method="POST" action="{% url 'ta_system:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ eagleid_form|crispy }}
        {{ user_form|crispy }}
        {{ preference_form }}
        {% if system_is_open.status %}
          <div>Lab Hour Preferences*</div>
          <small class='text-muted'>Please select the hours for which you will be able to attend the CS lab.</small>
          <div class="mt-12" id="lab-hour-form"></div>
        {% endif %}
      </form>
    </div>
{% endblock content %}
