{% extends "ta_system/base.html" %}
{% load crispy_forms_tags static %}
{% block extra-head %}
    <link rel="stylesheet" type="text/css" href="{% static 'ta_system/lab-hour-form.css' %}" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"></script>
    <script src="{% static 'ta_system/profile-lab-hour-form.js' %}" type="module" ></script>
{% endblock %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">Profile Page</h2>
        </div>
      </div>
      <form method="POST" action="{% url 'ta_system:profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ eagleid_form|crispy }}
        {{ preference_form }}
        <font size="4">Lab Hour Preferences:</font>
        <div id="lab-hour-form"></div>
      </form>
    </div>
{% endblock content %}
